{% extends 'base.html' %}

{% block meta %}
<title>Create Task</title>
{% endblock meta %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800&display=swap');

    body {
      background-color: #023047;
      color: white;
      padding-top: 50px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      letter-spacing: 1px;
    }

    h1 {
      font-weight: 800;
      color: #ffb703;
    }

    table {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      border: 5px solid #eae2b7;
      min-width: 75vw;
      max-width: 90vw;
    }

    th {
      background-color: #eae2b7;
      color: #023047;
      font-weight: 100;
      padding: 5px 10px;
      border: 2px solid #fb8500;
    }

    .form {
      margin-top: 5px;
    }

    #input {
      outline: none;
      border: 0px;
      height: 20px;
      width: 200px;
    }

    #input::placeholder {
      color: #023047;
      opacity: 1; /* Firefox */
    }

    .buttons {
      margin: 0px 5px;
    }

    button, a {
      font-weight: 800;
      padding: 5px 10px;
      background-color: #ffb703;
      color: #023047;
      text-decoration: none;
      border: 0px;
      margin-top: 10px;
    }
  </style>

<div class = "NewTask">
    <h1>Add a New Task</h1>

    <p>It is {% now "jS F Y H:i" %}</p>

    <form method="POST" action="">
        {% csrf_token %}
        <div class = "form">
          <label for="title">Title</label>
          <input id = "input" type="text" name="title" placeholder="Give your task a name">
        </div>

        <br>

        <div class = "form">
          <label for="description">Description</label>
          <input id = "input" type="text" name="description" placeholder="Give your task a description">
        </div>

        <br>

        <div class = "buttons">
          <button id = "button" type="submit">New Task!</button>
          <a id = "button" href="{% url 'todolist:show_todolist' %}">Back</a>
        </div>
    </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
</div>

{% endblock content %}