{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800&display=swap');

    body {
      background-color: #023047;
      color: white;
      padding-top: 50px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      letter-spacing: 1px;
    }

    h1 {
      font-weight: 800;
      color: #ffb703;
    }

    table {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }

    .form-control {
      outline: none;
      border: 0px;
      height: 20px;
      width: 200px;
    }

    .login_btn {
      font-weight: 800;
      padding: 5px 10px;
      background-color: #ffb703;
      color: #023047;
      text-decoration: none;
      border: 0px;
      width: 75px;
      margin-top: 10px;
    }

    a {
      color: white;
      font-weight: bold;
    }

    a:visited {
      color: white;
      font-weight: bold;
    }
  </style>

<div class = "login">

    <h1>Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>
        </table>

        <input class="login_btn" type="submit" value="Login">
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}    
        
    <p>Don't have an account? Sign in <a href="{% url 'todolist:register' %}">here.</a></p>

</div>

{% endblock content %}