{% extends 'base.html' %}

{% block meta %}
<title>Register a New Account</title>
{% endblock meta %}

{% block content %} 

<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800&display=swap');

  body {
    background-color: #023047;
    color: white;
    padding-top: 50px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 1px;
  }

  h1 {
    font-weight: 800;
    color: #ffb703;
  }

  table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  td {
    text-align: left;
  }

  tr {
    border: 5px;
  }

  input {
    outline: none;
    border: 0px;
    height: 20px;
    width: 200px;
  }

  #button {
    font-weight: 800;
    background-color: #ffb703;
    color: #023047;
    border: 0px;
    height: 30px;
  }
</style>

<div class = "login">
    <h1>Register New User</h1>
        <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input id = "button" type="submit" name="submit" value="Register"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}
</div>  

{% endblock content %}