{% extends 'base.html' %}
 {% block content %}

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800&display=swap');

    body {
      background-color: #023047;
      color: white;
      padding-top: 50px;
      font-family: 'Montserrat', sans-serif;
      text-align: center;
      letter-spacing: 1px;
      overflow-x: hidden;
    }

    h1 {
      color: #ffb703;
    }

    table {
      margin-top: 20px;
      border-collapse: collapse;
      border: 5px solid #eae2b7;
      margin-left: auto;
      margin-right: auto;
    }

    th {
      background-color: #eae2b7;
      color: #023047;
      font-weight: 100;
      padding: 5px 10px;
      border: 2px solid #fb8500;
    }

    #table-header {
      font-weight: 800;
    }

    .buttons {
      margin: 0px 5px;
    }

    #button {
      font-weight: 800;
      padding: 5px 10px;
      background-color: #ffb703;
      color: #023047;
      text-decoration: none;
    }

    a {
      text-decoration: none;
      font-weight: 800;
      color: #e36003;
    }
  </style>

  <div class="flex min-h-screen flex-col items-center justify-center gap-5">
    <div class = "flex flex-col md:flex-row  gap-4 justify-center items-center">
      <h1 class = "fw-bold">This is {{user}}'s todolist!</h1>
      <div class = "buttons">
        <a id = "button" href="{% url 'todolist:create_task' %}">New Task!</a>
        <a id = "button" href="{% url 'todolist:logout' %}">Logout</a>
      </div>
    </div>

    <div class="table-responsive">
      <table>
        <tr>
          <th id = "table-header">Date Added</th>
          <th id = "table-header">Task Name</th>
          <th id = "table-header">Task Description</th>
          <th id = "table-header">Status</th>
          <th id = "table-header">Actions</th>
        </tr>
        {% for barang in data_todolist %}
        <tr>
            <th>{{barang.date}}</th>
            <th><a href="task/{{barang.pk}}">{{barang.title}}</a></th>
            <th>{{barang.description}}</th>
            {% if barang.is_finished  %}
              <th><a href="update/{{barang.pk}}">✅</a></th>
            {% else %}
              <th><a href="update/{{barang.pk}}">❌</a></th>
            {% endif %}
            <th><a href="delete/{{barang.pk}}">Delete Task</a></th>
        </tr>
      {% endfor %}
      </table>
    </div>
  </div>
  

 {% endblock content %}